.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.image {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}

.sliderItem {
  color: white;

  b {
    display: flex;
    justify-content: end;
    color: #ffffff;
    padding-top: 57px;
    padding-left: 12px;


    font-size: 18px;

  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 3;

  display: none;
}

.mask_show {
  display: block;
}

.icon {
  font-size: 20px;
}

.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .header_logo {
    span {
      margin-left: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #282828;
    }
  }

  .header_tools {
    .header_icon {
      font-size: 20px;
      color: #BDBDBD;
      margin-left: 15px;
    }
  }
}

.content {
  .link {
    color: black;
  }

  .favorites {
    position: absolute;
    right: 16px;
    display: flex;
    z-index: 20;
  }

  .addRoutePopUp {
    position: absolute;
    height: 28.5%;
    width: 92%;
    background-color: #4F4F4F;
    z-index: 30;
    left: 4%;
    border-radius: 7px;
    top: 30%;
    padding: 10px 15px;
    transition: all .2s;
    flex-direction: column;

    .addRouteHeader {
      display: flex;
      justify-content: space-between;

      .title {
        color: #ffffff;
      }
    }


  }

  .setMarkPopup {
    position: absolute;
    height: 23.5%;
    width: 92%;
    background-color: #4F4F4F;
    z-index: 30;
    left: 4%;
    border-radius: 7px;
    top: 30%;
    padding: 10px 15px;
    transition: all .2s;
    flex-direction: column;

    .setMarkPopupHeader {
      display: flex;
      justify-content: space-between;


    }

    .title {
      color: #ffffff;
    }

  }

  .addRouteBtn {
    margin-bottom: 27px;


  }

  .allRouteTime {
    padding-left: 10px;
    margin-top: 5px;
    color: #828282;
  }

  .arrowLink {
    margin-left: 5px;
    font-size: 14px;
  }

  .route {
    display: flex;
  }

  .ant-btn {
    border: none;
  }

  .horizontalLine {
    border: solid #BDBDBD 1px;
    margin-bottom: 5px;
  }

  .popupButtonWrap {
    display: flex;
    padding-left: 14%;
    padding-top: 15px;
  }

  .event {
    display: flex;
    flex-direction: column;

    .eventHeader {

    }

    .eventSlider {

    }

    .eventMark {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;

      a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;

        letter-spacing: 0.03em;


        color: #BDBDBD;
      }
    }

    .routesTimeEvent {

      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin: 5px 0;
      letter-spacing: 0.02em;


      color: #4F4F4F;
    }



    .routesDescription {
      height: 30px;
      margin: 10px 0;
    }

    .eventMarkLeftBar {
      span {
        margin-left: 15px;
        margin-bottom: 6px;
      }
    }

    .eventPlayer {
      display: flex;
      justify-content: space-between;

      .playerIcons {
        font-size: 40px;
      }
    }

    .eventInfo {
      margin: 10px 0;
      height: 18vh;

      .eventInfoItem {
        display: flex;

        .icon {
          font-size: 20px;
          margin-right: 5px;
          color: #BDBDBD;
        }

        p {
          font-size: 15px;

        }
      }
    }

    .eventTools {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 109px;
      button{
        margin-top: 10px;
      }
      a{
        margin-top: 10px;
        border: 1px solid #FE4B12;
        padding: 6px 122px;
        color: #FE4B12;
      }
    }
  }

  .event_wrapper {

  }

  .event_image {
    width: 200px;
    height: 200px;
  }


  .popup {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    transition: all .2s;
    transform: translateY(100%);
    z-index: 10;

    .info {
      display: flex;
      margin-top: 15px;
      margin-bottom: 15px;

      b {
        margin-left: 5px;
        margin-right: 5px;
      }


    }
  }

  .profileWrapper {
    display: flex;
    flex-direction: column;

    .profileInfo {
      display: flex;
      height: 12vh;

      .fio {
        margin-left: 10px;
      }

      .avatar {
        background-color: grey;
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }


    .about {
      height: 30vh;
      margin-top: 5px;
      align-items: flex-start;
    }

    .content {
      display: flex;
    }

    .content_item {
      display: flex;
      flex-direction: column;
    }
  }

  .popup_content {
    position: relative;
    max-height: 348px;
    background: #fff;
    height: 100%;
    padding: 14px 4px 24px 11px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 7px rgba(142, 144, 153, 0.1);
    border-radius: 6px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .popup_show {
    transform: translateY(0);
  }
}

.footer_wrapper {
  background-color: #4F4F4F;
  position: fixed;
  height: 46px;
  width: 52vh;
  border-radius: 7px;
  bottom: 12px;
  left: 15px;
  display: flex;
  justify-content: space-around;
  padding: 0 15px;

  .nav_bar_icon {
    margin-top: 13px;
    color: #ffffff;
    font-size: 20px;
  }
}

.hide {
  display: none;
}

.homeWrapper {
  display: flex;
  flex-direction: column;

  .homeHeader {

  }

  .homeContent {
    margin-top: 15px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: #4F4F4F;
    }
  }

  .homeFooter {
    display: flex;
    margin-top: 10px;
    height: 120px;

    button {
      width: 100%;
      height: 41px;

      span {
        font-size: 20px;
      }
    }
  }

}

.profileTitle {

  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #4F4F4F;
}

.profileFilters {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #4F4F4F;
}

.eventItemWrapper {
  margin-top: 10px;
  height: 110px;
  width: 100%;
  display: flex;
  object-fit: cover;

  left: 15px;
  top: 110px;

  background: #FFFFFF;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  img {
    object-fit: cover;
    width: 94px;
  }

  .eventItemContent {
    margin-top: 5px;
    margin-left: 10px;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: #4F4F4F;
      margin-bottom: 15px;
    }
  }

}

.routeListWrapper {
  display: flex;
  flex-direction: column;

  .routeListHeader {

  }

  .routeListContent {

  }
}